body{
    background-color:  #1a1a1a;
    background-image: url(images/Background1.jpeg);
    background-repeat: no-repeat;
}

#Hypixel{
    display: flex;
    justify-content: center;
    margin-top: 4.4em;
}

#sc{
    font-size: 2.2em;
    color: aliceblue;
    text-align: center;
    margin-top: 2em;
}

#cloudfare{
    display: flex;
    margin-top: 5em;
    justify-content: center;

}

#Checkbox{
    display: flex;
    justify-content: center;
    position: relative;
    left: -139px;   
    top: -55px;
}

#checkboxItself{
    height: 30px;
    width: 30px;
    border-color: #1a1a1a;
    border-radius: 10%;
    
}

#checkboxItself:checked{
    transition: ease-in-out;
    transition-duration: 300ms;
    
}