body{
    background-color: #0f479f;
    background-image: url(images/tvgrilhug.webp);
    background-repeat: re;
    background-blend-mode: hard-light;
    user-select: none;
}

#TvGrilLogo{
     background-color: #1e4e9c2c;
    display: flex;
    opacity: 60%;
    background: 	#ed2788;
    border-radius: 300px;
    border-color: #ed2788;
    border-width: -1px;
    border-style: dashed;
}

#tvgirlimage{
    display: flex;
    justify-content: center;
}

#txtshit{
    user-select: none;
    color:#c20c73;
    font-family: Futura,Helvetica,'Courier New', Courier, monospace;
}
#tabletv{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #3230b1;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #e910a06b;
  }

  